input.form-control, .btn {
    height: 50px !important;
}

.to-form {
    position: fixed;
    right:10%;
    top:15%;
}
.button-label {
    margin-top:25px;
}

.message-form-holder {
    border: 5px dashed;
    padding: 20px;
}